<app-header />
<div class="row">
  <div class="section">
    <app-side-menu />
  </div>
  <div class="section main">
    <router-outlet />
  </div>
  <div class="section">
    <div class="pubar">
      <h4>Si vous souaitez remercier l'auteur de cette application, vous pouvez visiter et partager ses différents sites.</h4>
      <div class="card">
        <div class="header">Kiloukoi</div>
        <div class="body">
          <p>Kiloukoi - Votre plateforme de location de matériel entre particuliers. Economisez et partagez ce que vous avez avec toute la Belgique !</p>
          <img src="assets/kiloukoi.png" alt="">
          <a href="https://www.kiloukoi.be" target="_blank">Visiter le site</a>
        </div>
      </div>

      <div class="card">
        <div class="header">Toine-Traveller</div>
        <div class="body">
          <p>Moi c'est Toine. J'ai toujours rêver de voyager. En 2022, j'entreprends un voyage en sac à dos en Amérique Latine où j'y resterai 6 mois.</p>
          <img src="assets/toine-traveller.png" alt="">
          <a href="https://toine-traveller.org/" target="_blank">Visiter le site</a>
        </div>
      </div>

      <div class="card">
        <div class="header">PartirDeZero</div>
        <div class="body">
          <p>Apprendre en partant de zéros, l'apprentissage pour tous et pour tout les niveaux</p>
          <img src="assets/partirdezero.png" alt="">
          <a href="https://www.partirdezero.com/" target="_blank">Visiter le site</a>
        </div>
      </div>

    </div>
  </div>
</div>
<app-footer />
<p-toast position="top-center" />